.noUi-target,.noUi-target *{-webkit-touch-callout:none;-webkit-tap-highlight-color:transparent;-webkit-user-select:none;-ms-touch-action:none;touch-action:none;-ms-user-select:none;-moz-user-select:none;user-select:none;-moz-box-sizing:border-box;box-sizing:border-box}.noUi-target{position:relative}.noUi-base,.noUi-connects{width:100%;height:100%;position:relative;z-index:1}.noUi-connects{overflow:hidden;z-index:0}.noUi-connect,.noUi-origin{will-change:transform;position:absolute;z-index:1;top:0;right:0;height:100%;width:100%;-ms-transform-origin:0 0;-webkit-transform-origin:0 0;-webkit-transform-style:preserve-3d;transform-origin:0 0;transform-style:flat}.noUi-txt-dir-rtl.noUi-horizontal .noUi-origin{left:0;right:auto}.noUi-vertical .noUi-origin{top:-100%;width:0}.noUi-horizontal .noUi-origin{height:0}.noUi-handle{-webkit-backface-visibility:hidden;backface-visibility:hidden;position:absolute}.noUi-touch-area{height:100%;width:100%}.noUi-state-tap .noUi-connect,.noUi-state-tap .noUi-origin{-webkit-transition:transform .3s;transition:transform .3s}.noUi-state-drag *{cursor:inherit!important}.noUi-horizontal{height:18px}.noUi-horizontal .noUi-handle{width:34px;height:28px;right:-17px;top:-6px}.noUi-vertical{width:18px}.noUi-vertical .noUi-handle{width:28px;height:34px;right:-6px;bottom:-17px}.noUi-txt-dir-rtl.noUi-horizontal .noUi-handle{left:-17px;right:auto}.noUi-target{background:#FAFAFA;border-radius:4px;border:1px solid #D3D3D3;box-shadow:inset 0 1px 1px #F0F0F0,0 3px 6px -5px #BBB}.noUi-connects{border-radius:3px}.noUi-connect{background:#3FB8AF}.noUi-draggable{cursor:ew-resize}.noUi-vertical .noUi-draggable{cursor:ns-resize}.noUi-handle{border:1px solid #D9D9D9;border-radius:3px;background:#FFF;cursor:default;box-shadow:inset 0 0 1px #FFF,inset 0 1px 7px #EBEBEB,0 3px 6px -3px #BBB}.noUi-active{box-shadow:inset 0 0 1px #FFF,inset 0 1px 7px #DDD,0 3px 6px -3px #BBB}.noUi-handle:after,.noUi-handle:before{content:"";display:block;position:absolute;height:14px;width:1px;background:#E8E7E6;left:14px;top:6px}.noUi-handle:after{left:17px}.noUi-vertical .noUi-handle:after,.noUi-vertical .noUi-handle:before{width:14px;height:1px;left:6px;top:14px}.noUi-vertical .noUi-handle:after{top:17px}[disabled] .noUi-connect{background:#B8B8B8}[disabled] .noUi-handle,[disabled].noUi-handle,[disabled].noUi-target{cursor:not-allowed}.noUi-pips,.noUi-pips *{-moz-box-sizing:border-box;box-sizing:border-box}.noUi-pips{position:absolute;color:#999}.noUi-value{position:absolute;white-space:nowrap;text-align:center}.noUi-value-sub{color:#ccc;font-size:10px}.noUi-marker{position:absolute;background:#CCC}.noUi-marker-sub{background:#AAA}.noUi-marker-large{background:#AAA}.noUi-pips-horizontal{padding:10px 0;height:80px;top:100%;left:0;width:100%}.noUi-value-horizontal{-webkit-transform:translate(-50%,50%);transform:translate(-50%,50%)}.noUi-rtl .noUi-value-horizontal{-webkit-transform:translate(50%,50%);transform:translate(50%,50%)}.noUi-marker-horizontal.noUi-marker{margin-left:-1px;width:2px;height:5px}.noUi-marker-horizontal.noUi-marker-sub{height:10px}.noUi-marker-horizontal.noUi-marker-large{height:15px}.noUi-pips-vertical{padding:0 10px;height:100%;top:0;left:100%}.noUi-value-vertical{-webkit-transform:translate(0,-50%);transform:translate(0,-50%);padding-left:25px}.noUi-rtl .noUi-value-vertical{-webkit-transform:translate(0,50%);transform:translate(0,50%)}.noUi-marker-vertical.noUi-marker{width:5px;height:2px;margin-top:-1px}.noUi-marker-vertical.noUi-marker-sub{width:10px}.noUi-marker-vertical.noUi-marker-large{width:15px}.noUi-tooltip{display:block;position:absolute;border:1px solid #D9D9D9;border-radius:3px;background:#fff;color:#000;padding:5px;text-align:center;white-space:nowrap}.noUi-horizontal .noUi-tooltip{-webkit-transform:translate(-50%,0);transform:translate(-50%,0);left:50%;bottom:120%}.noUi-vertical .noUi-tooltip{-webkit-transform:translate(0,-50%);transform:translate(0,-50%);top:50%;right:120%}.noUi-horizontal .noUi-origin>.noUi-tooltip{-webkit-transform:translate(50%,0);transform:translate(50%,0);left:auto;bottom:10px}.noUi-vertical .noUi-origin>.noUi-tooltip{-webkit-transform:translate(0,-18px);transform:translate(0,-18px);top:auto;right:28px}

#fontSize-slider,#lineHeight-slider,#fontWeight-slider,#letterSpacing-slider,#width-slider {
    height: 10px;
}
#slider-container .noUi-connect {
    background: #17A34A;
}
#slider-container .noUi-handle {
    height: 18px;
    width: 18px;
    top: -5px;
    right: -9px; /* half the width */
    border-radius: 9px;
    background-color: #fafafa;
    box-shadow: none;
    border: 2px solid #17A34A;
}

#slider-container .noUi-handle:before{
    display: none;
}
#slider-container .noUi-handle:after{
    display: none;
}

focusing-js{
    z-index: -1;
    opacity: 0;
    position: fixed;
    width: 100%;
    height: 100vh;
    left: 0;
    top: 0;
    background-color: #9DD2DC;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 3rem 0;
    transition: all .3s;
    box-sizing: border-box;
}

focusing-js .container-head{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 8rem;
    padding: 2rem;
    overflow: hidden;
    box-sizing: border-box;
}

focusing-js .icon {
    width: 1em;
    height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}

/*focusing-js h1,h2,h3,h4,h5,h6{*/
/*    text-align: center;*/
/*}*/

focusing-js .main-container{
    /* width change attr */
    width: 80%;
    margin: 0 auto;
}

@keyframes focusingJsSlideInRight {
    from {
        transform: translate3d(100%, 0, 0);
        visibility: visible;
    }

    to {
        transform: translate3d(0, 0, 0);
    }
}

focusing-js .edit-container{
    display: none;
    position: fixed;
    z-index: 99999;
    right: 0;
    top: 0;
    background-color: #fafafa;
    width: 30%;
    height: 100vh;
    overflow-y: auto;
    padding: 0.5rem 1.5rem;
    box-shadow: -6px 1px 12px -2px rgba(70,67,67,0.75);
    -webkit-box-shadow: -6px 1px 12px -2px rgba(70,67,67,0.75);
    -moz-box-shadow: -6px 1px 12px -2px rgba(70,67,67,0.75);
    animation: focusingJsSlideInRight;
    animation-duration: .2s;
}

focusing-js .main-color-wrapper{
    margin: 2.5rem 0;
}

focusing-js .edit-container-mask{
    display: none;
    position: fixed;
    z-index: 9999;
    width: 100%;
    height: 100vh;
    left: 0;
    top: 0;
}

focusing-js .edit-container .label{
    color: #333333;
    font-size: 1rem;
    line-height: 1.5rem;
    margin: 1rem 0;
    font-weight: 500;
}

focusing-js .edit-container .slider-item{
    margin-bottom: 2rem;
}

focusing-js .edit-container .main-color-container{
    margin-top: -1rem;
    margin-left: -1rem;
}

focusing-js .edit-container .main-color-container .block{
    display: inline-block;
    width: 64px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    font-weight: 500;
    border-radius: 6px;
    border: 2px solid rgb(55, 65, 81);
    margin-top: 1rem;
    margin-left: 1rem;
    cursor: pointer;
}

